<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>CtaCorriente</display-name>

    <servlet>
        <servlet-name>LoginEjecutivoServlet</servlet-name>
        <servlet-class>com.platinum.controller.LoginEjecutivoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginEjecutivoServlet</servlet-name>
        <url-pattern>/LoginEjecutivoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistroPersonaServlet</servlet-name>
        <servlet-class>com.platinum.controller.RegistroPersonaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroPersonaServlet</servlet-name>
        <url-pattern>/RegistroPersonaServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransferenciaServlet</servlet-name>
        <servlet-class>com.platinum.controller.TransferenciaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferenciaServlet</servlet-name>
        <url-pattern>/TransferenciaServlet</url-pattern>
    </servlet-mapping>

</web-app>
